body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.logo{
    width: 125px;
    height: 80px;
}

a {
    text-decoration: none;
    color: #fff;
}

footer{
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(1, 72, 94);
}

footer a{
    margin-left: 5px;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.788);
}

nav h1{
    color: #fff;
    font-weight: normal;
}

.nav-link{
    color: aliceblue;

}

.navbarTextItems{
    justify-content: space-evenly;
}

#tickets{
    color: green;
}

span{
    color: white;
}

.imgBanner{
    width: 200px;
}

.cardTitleBelowImageContainer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
}

.cardTitleBelowImage{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    width: fit-content;

}

.card {
    height: 100%;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #343a40;
    border-color: #fff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #343a40;
  }
  
  .formContainer{
    padding-top: 50px;
  }

  .btnEnviarForm{
    width: 100%;
    border-width: 0px;
    background-color: rgb(142, 196, 62);
  }

   textarea::placeholder{
    font-size: 1.5rem;
  }
  
  .textUp{
    font-size: smaller;
    font-weight: lighter;
  }

  .textDown{
    font-weight: bolder;
  }

  .subtitleForm{
    font-weight: normal;
  }

  @media screen and (min-width: 1024px){
    .nav-link{
        margin-right: 20px;
    }
}

@media screen and (min-width: 375px) {
    .btn-primary{
        width: 300px;
    }
}

@media screen and (min-width: 1400px){
    .nav-link{
        font-size: 1.3rem;
    }
}

/* TICKETS */

.card-bgcolor-est{
  background-color: dodgerblue;
}
.card-bgcolor-trainee{
  background-color: rgb(16, 231, 231);
}
.card-bgcolor-jr{
  background-color: rgb(255, 184, 30);
}

.card-body-est{
  border-style: solid;
  border-width: 1px;
  border-color: dodgerblue;
}

.card-body-trainee{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(16, 231, 231);
}

.card-body-jr{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 184, 30);;
}

.descuentoInfo{
  color: darkgray;
}